@page "/HandoutProduct"
@using global::Shared.DTOs
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@inject IWarehouseService service
@inject NavigationManager navMngr

<PageTitle>Handout Product</PageTitle>

@attribute [Authorize]
<div class="col d-flex justify-content-center">
    <div class="card">
        <h5 class="card-header text-center">Product Handout</h5>
        <div class="card-body">
            <div class="form-group">
                <label for="EAN">EAN</label>
                <input type="text" class="form-control" id="EAN" placeholder="Scan or type EAN here..." @bind="eanTemp" @oninput="@(e => { eanTemp = e.Value.ToString(); })">
            </div>
            <div class="text-center" style="margin-bottom: 1rem">
                <button type="submit" class="btn btn-primary mb-2 text-center" @onclick="@(() => BindEan())">Add to handout list</button>
                @if (!string.IsNullOrEmpty(resultMsg))
                {
                    <label style="color: @color">@resultMsg</label>
                }
            </div>
            <div class="scroller">
                <table class="table table-striped">
                    <tbody>
                    @foreach (var item in ean)
                    {
                        <tr>
                            <td>@item</td>
                            <td><button class="" @onclick="@(() => Delete(item))"> &times; </button></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary" @onclick="@(() => Handout())">Handout</button>
        </div>
    </div>
</div>
@code {

    private List<long> ean = new();
    private string eanTemp;
    private long eanTempLong;
    private string resultMsg = "";
    private string color = "";

    private void BindEan()
    {
        eanTempLong = long.Parse(eanTemp);
        ean.Add(eanTempLong);
        
        StateHasChanged();
    }

    private async Task Handout()
    {
        try
        {
            List<long> eansToHandout = new List<long>();
            IEnumerable<Product> existing = await service.RetrieveProductAsync(null);
            List<long> eansExisting = new List<long>();
            List<long> eanCopy = new List<long>();
            ean.ForEach((item) => {eanCopy.Add(item);});
            foreach (var e in existing)
            {
                eansExisting.Add(e.Ean);
            }
            eansToHandout = ean.Intersect(eansExisting.Select(s => s)).ToList();
            eanCopy.ForEach((item) => {if(eansExisting.Contains(item)){ ean.Remove(item);}});
            StockDto dto = new StockDto(eansToHandout, "outgoing");
            await service.StockUpdateAsync(dto);
            if (ean.Count == 0)
            {
                navMngr.NavigateTo("ViewProducts");
            }
            else
            {
                resultMsg = "The following products couldn't be handed out as they don't exist. Either create the product in 'Create Product' or remove it from the Handout List.";
                color = "red";
            }
            
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
        }
        
    }

    private Task Delete(long eanToDelete)
    {
        ean.Remove(eanToDelete);
        StateHasChanged();
        return Task.CompletedTask;
    }
}