@page "/ViewProducts"
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@using BlazorWASM.Pages.UIComponents
@using global::Shared.DTOs
@inject IWarehouseService WarehouseService
@inject NavigationManager navMgr

<PageTitle>View Products</PageTitle>

@attribute [Authorize]

<div class="col d-flex justify-content-center">
<input type="text" @oninput="Search" placeholder = "Search by EAN..." class="form-control"/>
</div>

<hr/>

@if (products == null)
{
  <div class="col d-flex justify-content-center">
  <div class="loader"></div>
  </div>
}
else if (!products.Any())
{
    <span>No products to be found</span>
}
else
{
@foreach (var product in products)
{
  <div class="card">
    <img class="card-img-top" src="Images/@product.PhotoPath" onerror="this.onerror=null; this.src='Images/Default.png'" alt="Card image cap">
    <div class="card-body">
      <h5 data-title="@product.ProductName" class="card-title text-truncate">@product.ProductName</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-truncate"><strong>Antal på lager: </strong>@product.Stock </li>
        <li class="list-group-item text-truncate"><strong>EAN: </strong> @product.Ean </li>
        <li class="list-group-item text-truncate"><strong>Location: </strong><br/>@String.Join(", ", product.Location)</li>
      </ul>
      <AuthorizeView Policy="MustBeAdmin">
        <button class="btn btn-primary" @onclick="@(() => navMgr.NavigateTo($"/EditProduct/{product.Ean}"))">Edit Product</button>
      </AuthorizeView>
    </div>
  </div>
}
}
<hr/>
<div class="col d-flex justify-content-center">
    <button class="btn btn-primary" style="margin-bottom: 2rem" @onclick="@(() => PopulateProducts())"> Refresh </button>
  </div>
@if (!string.IsNullOrEmpty(resultMsg))
{
  <div>
    <span>@resultMsg</span>
  </div>
}
@code {
  private bool showModal;
  private IEnumerable<Product>? products;
  private IEnumerable<Product>? products_temp;
  private string ProductName;
  private int amount;
  private string photoPath;
  private long ean;
  private string locationtemp;
  private List<string> location;
  private string resultMsg = "";
  int length = 0;
  private string color = "";


  protected override async Task OnInitializedAsync()
  {
    try
    {
      products = await WarehouseService.RetrieveProductAsync(null);
      products_temp = products;
      Console.WriteLine("Retrieved Products");
    }
    catch (Exception e)
    {
      Console.WriteLine(e);
      resultMsg = e.Message;
    }
  }

  private IEnumerable<string> ToList(string locations)
  {
    string[] locationStrings = locations.Split(",");
    IEnumerable<string> strings = locationStrings.ToList();
    return strings;
  }

  private async Task PopulateProducts()
  {
    resultMsg = "";
    try
    {
      products = null;
      products = await WarehouseService.RetrieveProductAsync(null);
      products_temp = products;
    }
    catch (Exception e)
    {
      Console.WriteLine(e);
      resultMsg = e.Message;
      color = "red";
    }
  }

  private void Search(ChangeEventArgs args)
  {
    var searchString = (string)args.Value;
    if (searchString.Length < length)
    {
      products = products_temp;
      if (searchString.Length > 0)
      {
        length = searchString.Length;
        products = products.Where(x => x.Ean.ToString().Contains(searchString)).OrderByDescending(x => x.Ean).ToList();
        StateHasChanged();
      }
    }
    else
    {
      length = searchString.Length;
      products = products.Where(x => x.Ean.ToString().Contains(searchString)).OrderByDescending(x => x.Ean).ToList();
      StateHasChanged();
    }
  }
}